body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px; 
    margin: 0 auto;
}

header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.page-title {
    text-align: center;
    margin-top: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Left Sidebar */
.left-sidebar {
    text-align: right;
    width: 20%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc; 
    padding-right: 15px;
    padding-left: 15px; 
}

.left-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.left-sidebar li {
    margin-bottom: 10px;
}

.detail-item {
    margin-bottom: 5px; 
}

/* Middle Section */
.recent-posts {
    width: 60%;
    padding: 10px;
}

.recent-posts h3 {
    margin-top: 0; 
    line-height: 1.5;
}

h3 {
    color: rgb(175, 27, 27);
    font-size: 30px;
    margin-top: 0; 
    line-height: 1.5;
}

#date {
    font-size: calc(0.3vw + 12px);
    
}


.post-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.post {
    margin-bottom: 20px;
}

.post img {
    width: 50%;
    height: auto;
    max-width: 400px;
    margin-left: 2%;
    display: block;
    margin: 0 auto;
}

#post-details li{
    margin-bottom: 230%;
}

.sidebar {
    width: 20%;
    padding: 10px;
    background-color: #f4f4f4;
}


.read-more {
    color: rgb(175, 27, 27);
    text-decoration: none;
}

.detailItem 

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
